---
import Base from "../layouts/Base.astro"
import Header from "../components/Header.astro"
import Experience from "../components/Experience.astro"
import Skills from "../components/Skills.astro"
import Education from "../components/Education.astro"
import Footer from "../components/Footer.astro"
---

<Base>
  <main>
    <Header />
    <Experience />
    <Skills />
    <Education />
  </main>
  <Footer />
</Base>
